---
layout: default
permalink: /challenges/
title: Challenges
page-order: 3
published: true
---
<div class="container panel">
  <div class="row">
    <h3 class="panel text-center">Select from the themes to find a challenge to solve!</h3>
    <hr>
    {% for theme in site.data.challenge_themes.themes %}
    <div class="col-xs-12 col-md-12">
      <div class="panel invert-colors">
        <div class="panel-title">
          <h3>{{ theme["title"] }}</h3>
          <hr>
        </div>
        {% for challenge in site.categories["challenges"] %}
          {% if challenge.theme == theme["title"] %}
            <div class="panel-content">
              <div class="row">
                <div class="col-xs-10">
                  {{ challenge.title }}
                  <br>
                  <em>{{ challenge.blurb }}</em>
                </div>
                <div class="col-xs-2">
                  <a class="btn btn-secondary btn-sm" href="{{ challenge.url }}">
                    View Challenge
                  </a>
                </div>
              </div>
              <br>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
