---
layout: default
permalink: /resources/
title: Resources
page-order: 4
published: true
---

<div class="container panel">
  <div class="row">
    <div class="panel-content">
      <ul class="nav nav-tabs" role="tabslist">
        {% for resource in site.data.resources %}
          <li {% if forloop.index == 1 %} class="active" {% endif %}>
            <a href="#{{ resource[0] }}" role="tab" data-toggle="tab">
              {{ resource[0] | upcase }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="tab-content">
        {% for resource in site.data.resources %}
          <div role="tab" class="tab-pane {% if forloop.index == 1 %} active {% endif %}" id={{ resource[0] }}>
            {% for link in resource[1] %}
              <div class="tab-pane-component">
                <strong>{{ link["title"]    }}</strong><br>
                <a href={{ link["url"] }} target="_blank">
                  {{ link["url"]    }}
                </a><br>
                <em>{{ link["blurb"] }}</em>
              </div>
              <hr>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
