/**
 * Site header
 */
.site-header {
	.navbar-brand {
		color: $white;
	}
}

.site-title {

}

.site-nav {
	background-color: transparent;
	border: none;
	.navbar-collapse {
		li > a {
		color: $white;
		}
	}
}



/**
 * Site footer
 */
.site-footer {

}

.footer-heading {

}




/**
 * Page content
 */
.page-content {
	section {
	margin: 50px;
	}
	.jumbotron {
		background-color: transparent;
		p {
			margin: 20px 0 40px 0;
		}
	}
}

.page-heading {

}


/**
 * Posts
 */
.post-header {

}

.post-title {

}

.post-content {
	margin-top: 20px;
}
